/* The standard CSS for doxygen 1.8.4 */

body, table, div, p, dl {
	font: 400 14px/22px sans-serif;
}

.contents {
    max-width: 1000px;
    text-align: justify;
}
		   
.tabs, .tabs2, .tabs3 
{
    background-image: none;
    background-color: #aaa;
}
.tablist
{
    background-image: none;
    background-color: #aaa;
}
.tablist li
{
    background-image: none;
    background-color: #aaa;
}
.tablist li.current a {
    background-image: none;
    background-color: #666;
    text-shadow: none;
}
.tablist a:hover {
    background-image: none;
    background-color: #CCC;
    text-shadow: none;
    color: #222;
}
.tablist a {
    background-image: none;
    text-shadow: none;
}

.sm-dox {
    background-image: none;
    background: #ccc;
}
.sm-dox a:hover {
    background-image: none;
    background: #3D578C;
}
    
#titlearea {
    border-bottom: solid 1px black;
}
.navpath ul {
    background-image: none;
    background-color: #ccc;
}

.navpath ul {
    border:none; 
    border-bottom: solid 1px black;
}
.navpath li {
    background-image: none;
    background-color: #ccc;
}
    
.navpath li:after  {
    display: inline;
    padding-left:  5px;
    font-size: 120%;
    content: ">";
}

.navpath li.navelem a {
    display: inline;
    color: #000; /* #283A5D; */
    text-shadow: none;
    text-decoration: none;        
}

.menitem { 
    -webkit-transition: none;
}

.memtitle {
    background-image: none;
    background: #eee;
}

.memproto { 
    background-image: none;
    background-color: white; /* #ccc; */
    border-radius: 0;
    /* border-top: thin solid black; */
    border-bottom: thin solid #A8B8D9;
    box-shadow: none;
}
.memdoc {
    background-image: none;
    border-radius: 0;
    /* border-top: thin solid black; */
    box-shadow: none;
}    
.memproto, dl.reflist dt {
    text-shadow: none;
}
table.fieldtable {
    /*width: 100%;*/
    margin-bottom: 10px;
    border: 1px solid #A8B8D9;
    border-spacing: 0px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.fieldtable th { 
    background-image: none;
    background-color: #ccc;
    border-radius: 0;
}
div.ah {
    background-color: #888;
    /* border: solid thin #333; */
    border-radius: 0;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    background-image: none;
    background-image: none;
}

pre.shell {
    background-color: #ddd;
    color: black;
    border: thin solid black;
    margin-left: 2em;
    margin-right: 2em;
    padding: 5px;
}

pre.fragment {
    background-color: #eee;
}

h1 { 
    margin-top: 24px;
    border-bottom: medium solid gray
}

.doxyignore {
    display: none;
}
		 
